.container{
    background-color: whitesmoke;
    border-radius: 25px;
    width: 500px;
    height: 210px;
    margin: 200px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expand{
    height: 300px;
}

.inputText{
    border: 2px solid rgb(71, 36, 199);
    border-radius: 8px;
    width: 400px;
    height: 50px;
    background-color: rgb(236, 236, 236);
    text-align: center;
    font-size: 1.3rem;
    transition: all 0.2s;
}

.inputText:focus{
    box-shadow: 0 0 10px rgb(48, 163, 230);
}

.showContainer{
    display: flex;
    position: relative;
    flex-direction: row;
    border: 1px solid rgb(184, 229, 255);
    background-color: rgb(226, 245, 255);;
    border-radius: 6px;
    height: 150px;
    width: 400px;
    margin: 15px 0;
    align-items: center;
    justify-content: center;
}

.showText{
    position: absolute;
    color: blueviolet;
    font-weight: bold;
}

.showText::before{
    content: 'متن وارد شده: ';
    font-weight: lighter;
}

.btnsEl{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 17px;
}

.btns{
    color: white;
    font-size: 1rem;
    height: 40px;
    width: 90px;
    border-radius: 7px;
    border:none;
}

.deleteBtn{
    background-color: rgb(0, 155, 108);
}

.sendBtn{
    background-color: rgb(71, 36, 199);
}